.bg {
    position: absolute;
	left: 25%;
	width: 600px;
	margin: auto;
}

div div a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.bg img {
	position: absolute;
}

a, a:active, a:focus {
   outline: none;
}

/* Detect mobile */
@media (pointer:none), (pointer:coarse) {
	.bg {
		position:absolute;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

}

/* div id's for each selectable area */

#kevin {
	position: absolute;
	top: 160px;
	left: 30px;
	width: 115px;
	height: 230px;
}

#shaolinHigh {
	position: absolute;
	top: 10px;
	left: 130px;
	width: 260px;
	height: 100px;
}

#shaolinLow {
	position: absolute;
	top: 110px;
	left: 260px;
	width: 50px;
	height: 100px;
}

#sara {
	position: absolute;
	top: 115px;
	left: 150px;
	width: 110px;
	height: 260px;
}

#liz {
	position: absolute;
	top: 190px;
	left: 280px;
	width: 115px;
	height: 200px;
}

#jessica {
	position: absolute;
	top: 100px;
	left: 400px;
	width: 100px;
	height: 280px;
}

#ben {
	position: absolute;
	top: 80px;
	left: 505px;
	width: 120px;
	height: 310px;
}

#logo {
	position: absolute;
	top: 420px;
	left: 130px;
	width: 400px;
	height: 60px;
}

/* div id for corresponding images */

.set {
	filter: saturate(1);

}

.highlight {
	-webkit-animation-name: highlight;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	animation-name: highlight;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	
}

@keyframes highlight {
	0% { filter: saturate(2); }
	100% { filter: saturate(1); }
	
}

@-webkit-keyframes highlight {
	0% { filter: saturate(2); }
	100% { filter: saturate(1); }
	
}

	
}